<% if @user.profile.first_name.present? %>
Hi <%= @user.profile.first_name %><br><br>
<% end %>
Thank you for your interest in LenderPrism. I trust you will find that the transparency and efficiency of this platform adds value to your investment process. I expect it will deliver you peace of mind knowing that the financing process is one less thing to worry about. You will be well covered by the LenderPrism. Now, you can focus on other important matters of running your transaction.<br><br>

Multifamily and commercial real estate loans are not a one-size-fits-all approach. My name is Tony Talamas. I launched LenderPrism with the goal of bringing hundreds of lenders onto one platform. A single platform for brokers and borrowers to identify lenders within minutes. A platform that delivers full transparency and increase efficiency.<br><br>

As a former broker, I started LenderPrism with brokers and borrowers in mind. As a lender, I want other lenders to find high-quality, pre-screened leads on our platform.<br><br>

While we're experienced at this, this platform is new. We're still in Beta. So please be patient as we work to improve the experience. Your input is part of that process. Your feedback is very valuable to us. Please submit comments, bugs and ideas for improvement. Use the widget in the corner. Or email us at support@lenderprism.zohodesk.com.<br><br>

Thank you for exploring the LenderPrism.<br><br>

<a href="https://hihello.me/p/285ceb6f-95ba-457a-80c6-32fdc425c40b" rel="noopener" noreferrer target="_blank" style="display: inline-block">
  <img alt="This is Tony Talamas's card. Their phone number is +1 713 679 1890." Src="https://cdn.hihello.me/cards/285ceb6f-95ba-457a-80c6-32fdc425c40b/signature_imagelogo.png?generated=1663815252307" width="360" style="display: inline-block; min-height: 100px" />
</a>