<p>Hello <%= @resource.profile&.full_name || @resource.email %>!</p>

<p>Welcome to LenderPrism, to set a password for your account, please follow the link below.</p>

<p><%= link_to 'Set my password', password_reset_edit_url(reset_password_token: @token) %></p>

<p>Your password won't be set until you access the link above and create one.</p>
